{% extends "need/base.html" %}
{% load static %}
{% load i18n %} 


{% block head_tags %}
{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
    {% if suggestions %}
        <p>Did you mean,</p>
        {{ suggestions }}
    {% endif %}
    
    {% if hits %}
    <ul class="hits">
        {{ hits }}
    </ul>
    {% endif %}
{% endblock %}

{% block footer %}
    <div class="page-nav">
    {% if prev_page %}
            <a href="?page={{ prv }}">previous</a>
    {% endif %}
    {% if next_page %}
            <a href="?page={{ nxt }}">next</a>
    {% endif %}
    </div>
{% endblock %}

