{% extends "base.html" %}
{% load static %}
{% load i18n %} 

{% block head_tags %}
<link rel="stylesheet" type="text/css" href={% static "need/css/search_hits.css" %} />
{% endblock %}

{% block header %}
<div id="search-form">
    <form action="" method="get" class="searchbox button-searchbox">
        {{ form }}
        <!--
        <input class="button-search button-magnifier" type="submit" value=""/>
        -->
        <input class="button-search button-forward" type="submit" value=""/>
    </form>
</div>
{% endblock %}


{% block content %}
    {% if suggestions %}
        <p>Did you mean,</p>
        {{ suggestions }}
    {% endif %}
    
    {% if hits %}
    <ul id="hits">
        {{ hits }}
    </ul>
    {% endif %}
{% endblock %}

{% block footer %}
    <div class="page-nav">
    {% if prv %}
            <a href="?page={{ prv }}">previous</a>
    {% endif %}
    {% if nxt %}
            <a href="?page={{ nxt }}">next</a>
    {% endif %}
    </div>
{% endblock %}
