* {
margin: 0;
padding: 0;
font-weight: normal;
}


body {
font-family: arial,sans-serif;
font-size:12px;
line-height:18px;
}

header {
display:block;
background-color: #efe;
padding:16px 0 12px 0;
border-bottom: 1px solid #d3f8db;
}

p{
margin-top:6px;
}

a {
font-weight:400;
text-decoration: none;
color: #006621;
}

li {
 list-style-type: none;
}

#typeblock{

}


#search-form {
max-width: 600px;
margin: 0 auto 0 auto;
text-align:right;
border-radius: 3px;
background: #fff;
border: 1px solid #ccc;
padding: 0 0 0 1em;
}

.search-input {
display:inline-block;
font-size:16px;
font-weight:400;
background: #fff;
border: none;
border-radius: 8px 8px 0 0;
vertical-align: top;
width:87%;
height:34px;
}

.search-button {
display:inline-block;
vertical-align: top;
height: 34px;
width: 12%;
border: 1px solid #eee;
background: #eee;
}

.search-button:hover {
border: 1px solid #666;
background: #ddd;
}


#hits {
width: 600px;
margin: 0 auto 0 auto;
}



h3 {
font-size:18px;
font-weight:400;
line-height:22px;
margin-top: 26px;
white-space: nowrap;
overflow: hidden;
-ms-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
line-height: 1.22;
}

h3 > a {
color: #3a7fb4;
}

h3 > a:visited {
color: #5b3ab4;
}

h3:hover {
color: #084999;
text-decoration: underline;
}


.spot_data {
font-size:14px;
line-height:16px;
}


/* small screen, stck the search */
@media screen and (max-width: 500px) {
#search-form {
padding:0;
margin: 0 1em;
}
.search-input {
display:block;
width:100%;
}
.search-button {
display:block;
border-top: 1px solid #ccc;
width:100%;
    }
}

/* under typeblock size, let titles run and pad sides */
@media screen and (max-width: 600px) {
#hits{
width: 100%;
padding:0 1.5em;
}
h3 {
white-space: normal;
overflow: visible;
}
}
