* {
margin: 0;
padding: 0;
font-weight: normal;
}


body {
font-family: arial,sans-serif;
font-size:12px;
line-height:18px;
}



/*
 * .searchbox ~ .tight-searchbox| (
 * .button-searchbox ~ (.button-magnifier|button-magnifier)
 * )
 */
.searchbox {
display:block;
background-color: #fff;
border-radius: 3px;
border: 1px solid #ccc;
position: relative;
}

.tight-searchbox {
padding: 0 0.75em;
}

.button-searchbox {
padding: 0 36px 0 0.75em;
}

/* expanding inline */
@media screen and (min-width: 500px) {
.searchbox {
max-width: 600px;
margin: 0 auto 0 auto;
}
}

.searchbox > input {
width:100%;
font-size:16px;
font-weight:400;
background-color: #fff;
border: none;
/* border-radius: 8px 8px 0 0; */
/* vertical-align: top; */
/* width:87%; */
height:34px;
}


.searchbox > .button-search {
display:block;
height: 34px;
width: 36px;
border-radius: 0 3px 3px 0;
position: absolute;
top: 0;
right:0;
}

.searchbox > .button-forward {
background: url(/static/need/svg/forward.svg) no-repeat center center;
}

.searchbox > .button-magnifier {
background: url(/static/need/svg/magnifier.svg) no-repeat center center;
}

.searchbox > .button-search:hover {
border-left: 1px solid #999;
background-color: #ddd;
cursor: pointer;
}

/* small screen, stack the search */
@media screen and (max-width: 500px) {
.searchbox {
display:block;
padding:0;
margin: 0 1em;
}

.searchbox > input {
display:block;
width:100%;
}

.searchbox > .button-search {
display:block;
position: static;
border-top: 1px solid #ccc;
width:100%;
}
}
