
.hits {
/*
width: 600px;
margin: 0 auto 0 auto;
*/
list-style:none;
font-size:13px;
line-height:18px;
text-align:left;
font-weight:normal;
}


.hit-title {
font-size:18px;
line-height:22px;
text-align:left;
white-space: nowrap;
overflow: hidden;
-ms-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
line-height: 1.22;
margin: 26px 0 0 0;
}

.hit-title > a {
color: #3a7fb4;
}

.hit-title > a:visited {
color: #5b3ab4;
}

.hit-title > a:hover {
color: #084999;
text-decoration: underline;
}


.hit-url {
font-size:14px;
line-height:16px;
font-style: normal;
color: #062;
}

/* under typeblock size, let titles run and pad sides */
@media screen and (max-width: 600px) {
.hits{
width: 100%;
padding:0 1.5em;
}
hit-title {
white-space: normal;
overflow: visible;
}
}
